# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists


Create a list of the first 20 positive integers. Print the list.

In [3]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18.19,20]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18.19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [4]:
my_list = [10, 20, 30, 40, 50, 60, 70]

first = my_list[0]
last = my_list[-1]
middle = my_list[len(my_list) // 2]

print("Ist element:", first)
print("2nd element:", middle)
print("3rd element:", last)

Ist element: 10
2nd element: 40
3rd element: 70

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [5]:
my_list = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90]

first_five = my_list[:5]
last_five = my_list[-5:]
mid_section = my_list[5:16]

print("First five elements:", first_five)
print("Last five elements:", last_five)
print("Elements from index 5 to 15:", mid_section)

First five elements: [5, 10, 15, 20, 25]
Last five elements: [70, 75, 80, 85, 90]
Elements from index 5 to 15: [30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [6]:
a=[x*x for x in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [8]:
my_list = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90]
even_numbers = [num for num in my_list if num % 2 == 0]
print("Even numbers in the list:", even_numbers)

Even numbers in the list: [10, 20, 30, 40, 50, 60, 70, 80, 90]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [9]:
import random

numbers = [random.randint(1, 100) for _ in range(20)]
unique_numbers = list(set(numbers))
ascending = sorted(unique_numbers)
descending = sorted(unique_numbers, reverse=True)

print("Original list:", numbers)
print("Without duplicates:", unique_numbers)
print("Ascending order:", ascending)
print("Descending order:", descending)

Original list: [59, 62, 50, 14, 17, 48, 40, 33, 8, 11, 77, 6, 50, 97, 9, 90, 11, 36, 68, 53]
Without duplicates: [33, 97, 36, 68, 6, 40, 8, 9, 11, 77, 14, 48, 17, 50, 53, 90, 59, 62]
Ascending order: [6, 8, 9, 11, 14, 17, 33, 36, 40, 48, 50, 53, 59, 62, 68, 77, 90, 97]
Descending order: [97, 90, 77, 68, 62, 59, 53, 50, 48, 40, 36, 33, 17, 14, 11, 9, 8, 6]

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [10]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    print(row)

print("Element at second row, third column:", matrix[1][2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at second row, third column: 6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [12]:
def get_score(student):
    return student['score']

students = [
    {'name': 'Shivani', 'score': 85},
    {'name': 'Tushar', 'score': 92},
    {'name': 'Vineet', 'score': 78},
    {'name': 'Shreya', 'score': 90}
]

students.sort(key=get_score, reverse=True)

print("Sorted list by score:")
for student in students:
    print(student)

Sorted list by score:
{'name': 'Tushar', 'score': 92}
{'name': 'Shreya', 'score': 90}
{'name': 'Shivani', 'score': 85}
{'name': 'Vineet', 'score': 78}

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [15]:
def transpose_matrix(matrix):
    return [[matrix[j][i] for j in range(3)] for i in range(3)]

original = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = transpose_matrix(original)

print("Original matrix:")
for row in original:
    print(row)

print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [16]:
def flatten_list(nested):
    return [item for sublist in nested for item in sublist]

original = [[1, 2], [3, 4], [5, 6]]

flattened = flatten_list(original)

print("Original list:", original)
print("Flattened list:", flattened)

Original list: [[1, 2], [3, 4], [5, 6]]
Flattened list: [1, 2, 3, 4, 5, 6]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [21]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

del a[6]
del a[4]
del a[2]

a.insert(5, 99)

print(a)

[1, 2, 4, 6, 8, 99, 9, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [20]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

zipped = list(zip(a, b))

print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [19]:
a = [1, 2, 3, 4]
b=a[-1::-1]
print(b)

[4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [18]:
a = [1, 2, 3, 4, 5, 6]
n=2
n = n % len(a)
rotated=a[n:] + a[:n]
print("Rotated list:", rotated)

Rotated list: [3, 4, 5, 6, 1, 2]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [17]:
def find_intersection(list1, list2):
    return [item for item in list1 if item in list2]

a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

common = find_intersection(a, b)

print("List A:", a)
print("List B:", b)
print("Intersection:", common)

List A: [1, 2, 3, 4, 5]
List B: [4, 5, 6, 7, 8]
Intersection: [4, 5]