# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
numbers_set = set(range(1, 11))
print("Set:", numbers_set)

Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
numbers_set = set(range(1, 11))

numbers_set.add(11)
numbers_set.remove(1)

print("Modified set:", numbers_set)

Modified set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
a = {1, 2, 3, 4, 5}
b = {2, 4, 6, 8, 10}

print("Union:", a | b)
print("Intersection:", a & b)
print("Difference (a - b):", a - b)
print("Symmetric Difference:", a ^ b)

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (a - b): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
squares_set = {x**2 for x in range(1, 11)}
print("Set of squares:", squares_set)

Set of squares: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

even_numbers = {x for x in s if x % 2 == 0}

print(even_numbers)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
a = [1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 7]

unique = set(a)

print(unique)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [8]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}

is_subset = set_b.issubset(set_a)
is_superset = set_a.issuperset(set_b)

print("Set A:", set_a)
print("Set B:", set_b)
print("Is Set B a subset of Set A?", is_subset)
print("Is Set A a superset of Set B?", is_superset)

Set A: {1, 2, 3, 4, 5}
Set B: {1, 2, 3}
Is Set B a subset of Set A? True
Is Set A a superset of Set B? True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [9]:
a= frozenset([1, 2, 3, 4, 5])

print(a)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [10]:
s = {1, 2, 3, 4, 5}

lst = list(s)
lst.append(6)
s = set(lst)

print(s)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [11]:
data = {
    frozenset({1, 2}): 100,
    frozenset({3, 4}): 200,
    frozenset({5}): 300
}

print("Dictionary with frozenset keys:")
for key, value in data.items():
    print(key, ":", value)

Dictionary with frozenset keys:
frozenset({1, 2}) : 100
frozenset({3, 4}) : 200
frozenset({5}) : 300

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [12]:
a = {10, 20, 30, 40, 50}

for i in a:
    print(i)

50
20
40
10
30

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [13]:
items = {10, 20, 30, 40, 50}

while items:
    removed = items.pop()
    print("Removed:", removed)
    print("Set now:", items)

Removed: 50
Set now: {20, 40, 10, 30}
Removed: 20
Set now: {40, 10, 30}
Removed: 40
Set now: {10, 30}
Removed: 10
Set now: {30}
Removed: 30
Set now: set()

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [14]:
a = {1, 2, 3, 4, 5}

while len(a) > 0:
    a.pop()
    print(a)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [15]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a.symmetric_difference_update(b)

print(a)

{1, 2, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [16]:
a = {10, 20, 30, 40, 50}

print(20 in a)
print(60 not in a)
print(30 not in a)

True
True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [17]:
pair_set = {
    (1, 2),
    (3, 4),
    (5, 6),
    (7, 8)
}

print("Set of tuples:", pair_set)

Set of tuples: {(1, 2), (3, 4), (7, 8), (5, 6)}