# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [1]:
squares_dict = {x: x**2 for x in range(1, 11)}
print("Dictionary of squares:", squares_dict)

Dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [2]:
squares_dict = {x: x**2 for x in range(1, 11)}

value_of_5 = squares_dict[5]
all_keys = squares_dict.keys()

print("Value of key 5:", value_of_5)
print("Keys in the dictionary:", list(all_keys))

Value of key 5: 25
Keys in the dictionary: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [3]:
squares_dict = {x: x**2 for x in range(1, 11)}

squares_dict[11] = 121
squares_dict.pop(1)

print("Modified dictionary:", squares_dict)

Modified dictionary: {2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [4]:
squares_dict = {x: x**2 for x in range(1, 11)}

for key, value in squares_dict.items():
    print("Key:", key, "Value:", value)

Key: 1 Value: 1
Key: 2 Value: 4
Key: 3 Value: 9
Key: 4 Value: 16
Key: 5 Value: 25
Key: 6 Value: 36
Key: 7 Value: 49
Key: 8 Value: 64
Key: 9 Value: 81
Key: 10 Value: 100

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [5]:
cubes_dict = {x: x**3 for x in range(1, 11)}
print("Dictionary of cubes:", cubes_dict)

Dictionary of cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [6]:
dict1 = {x: x**2 for x in range(1, 6)}
dict2 = {x: x**2 for x in range(6, 11)}

merged_dict = {**dict1, **dict2}

print("Merged dictionary:", merged_dict)

Merged dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [7]:
student = {
    'name': 'Shivani',
    'age': 22,
    'grades': {
        'math': 99,
        'science': 89,
        'english': 78
    }
}

print(student)

{'name': 'Shivani', 'age': 22, 'grades': {'math': 99, 'science': 89, 'english': 78}}

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [8]:
d = {
    1: [1, 2, 3, 4, 5],
    2: [2, 4, 6, 8, 10],
    3: [3, 6, 9, 12, 15],
    4: [4, 8, 12, 16, 20],
    5: [5, 10, 15, 20, 25]
}

print(d)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [9]:
result = {x: (x, x**2) for x in range(1, 6)}
print("Dictionary with tuple values:", result)

Dictionary with tuple values: {1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [16]:
d = {
    1: 1,
    2: 4,
    3: 9,
    4: 16,
    5: 25
}

tuple_list = list(d.items())

print(tuple_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [15]:
d = {
    1: 1,
    2: 4,
    3: 9,
    4: 16,
    5: 25,
    6: 36,
    7: 49,
    8: 64,
    9: 81,
    10: 100
}

even_dict = {}

for key in d:
    if key % 2 == 0:
        even_dict[key] = d[key]

print(even_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [14]:
d = {
    1: 1,
    2: 4,
    3: 9,
    4: 16,
    5: 25
}

swapped = {}

for key, value in d.items():
    swapped[value] = key

print(swapped)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [13]:
from collections import defaultdict

data = defaultdict(list)

data["fruits"].append("apple")
data["fruits"].append("banana")
data["vegetables"].append("carrot")
data["vegetables"].append("spinach")
data["drinks"].append("water")

print("Default dictionary with lists:")
for key, value in data.items():
    print(key, ":", value)

Default dictionary with lists:
fruits : ['apple', 'banana']
vegetables : ['carrot', 'spinach']
drinks : ['water']

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [12]:
def count_characters(text):
    char_count = {}
    for char in text:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

sample_text = "hello world"
result = count_characters(sample_text)

print("Character count dictionary:", result)

Character count dictionary: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [11]:
import json

book = {
    'title': 'The Alchemist',
    'author': 'Paulo Coelho',
    'year': 1988,
    'genre': 'Fiction'
}

book_json = json.dumps(book)
print("Book as JSON string:", book_json)

Book as JSON string: {"title": "The Alchemist", "author": "Paulo Coelho", "year": 1988, "genre": "Fiction"}