# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
numbers = tuple(range(1, 11))
print("Tuple:", numbers)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
numbers = tuple(range(1, 11))

first = numbers[0]
middle = numbers[len(numbers) // 2]
last = numbers[-1]

print("First element:", first)
print("Middle element:", middle)
print("Last element:", last)

First element: 1
Middle element: 6
Last element: 10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
numbers = tuple(range(1, 11))

first_three = numbers[:3]
last_three = numbers[-3:]
mid_section = numbers[2:6]

print("First three elements:", first_three)
print("Last three elements:", last_three)
print("Elements from index 2 to 5:", mid_section)

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for row in matrix:
    print(row)

print("Element at second row, third column:", matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row, third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [5]:
a=(1,2,3)
b=(4,5,6)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [6]:
data = (4, 7, 2, 7, 9, 7, 3, 4)

count_7 = data.count(7)
index_7 = data.index(7)

print("Tuple:", data)
print("Occurrences of 7:", count_7)
print("Index of first occurrence of 7:", index_7)

Tuple: (4, 7, 2, 7, 9, 7, 3, 4)
Occurrences of 7: 3
Index of first occurrence of 7: 1


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
t = (30, 20, 40, 50, 60)

a, b, c, d, e = t

print(a)
print(b)
print(c)
print(d)
print(e)

30
20
40
50
60


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [9]:
numbers_list = [1, 2, 3, 4, 5]
numbers_tuple = tuple(numbers_list)

print("Tuple:", numbers_tuple)

Tuple: (1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [10]:
nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("Tuple of tuples:", nested_tuple)

Tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [11]:
a = (1, 2, 3, 4, 5)

lst = list(a)
lst.append(6)
t = tuple(lst)

print(t)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [16]:
s = "hello"

a = tuple(s)
result = ''.join(a)

print(result)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [15]:
a = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}

print(d)

50

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [14]:
a = (
    (2, 5, 6),
    (4, 5, 8),
    (7, 8, 9)
)

for row in a:
    for item in row:
        print(item)

2
5
6
4
5
8
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [13]:
a = (1, 2, 2, 3, 4, 4, 5)

s = set(a)

print(s)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [12]:
def get_min(t):
    return min(t)

def get_max(t):
    return max(t)

def get_sum(t):
    return sum(t)

sample_tuple = (5, 12, 3, 8, 7)

print("Tuple:", sample_tuple)
print("Minimum:", get_min(sample_tuple))
print("Maximum:", get_max(sample_tuple))
print("Sum:", get_sum(sample_tuple))

Tuple: (5, 12, 3, 8, 7)
Minimum: 3
Maximum: 12
Sum: 35